body{
	height: 100%;
	font-family: Trebuchet MS;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: #00693e;
  background-color: #00693e;
  font-family: Trebuchet MS;
}


.navbar-inverse .navbar-nav > li > a{
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover{
  text-decoration: underline;
}
.navbar-inverse .navbar-header > a{
  color: white;
}

.jumbotron{
	/* The image used */
    background-image: url("para2.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.para{
	/* The image used */
    background-image: url("para2.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.para2{
	/* The image used */
    background-image: url("para3.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bio{
	width: 40%;
	margin: 0 auto;
}

p{
	font-size: 20px;
}

iframe{
	margin-bottom: 150px;
	margin-top: 50px;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

